/* -- Behaviour attributes -- */
.no-select {
  user-select: none;
}

/* -- Display attributes -- */
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.relative {
  position: relative;
}

/*  -- Filter attributes -- */
.negative {
  filter: invert(1);
}

/* -- Text classes -- */
.large-header, .medium-header, .small-header {
  color: white;
    display: inline-block;
  font-family: "Karla";
  font-weight: 700;
  text-transform: uppercase;
}

.large-header {
  font-size: 1.25rem;
}
.medium-header {
  font-size: 1rem;
}
.small-header {
  font-size: 0.75rem;
}

/* -- Text transform attributes -- */
.capitalise {
  text-transform: capitalize;
}
.lowercase {
  text-transform: lowercase;
}
.uppercase {
  text-transform: uppercase;
}

/* -- Visibility attributes  -- */
.display-none, .instant-display-none {
  display: none;
}
.hidden {
  visibility: hidden;
}
.visible {
  visibility: visible;
}
