html, head, body {
  margin: 0px;
  height: 100%;
}
input {
  color: white;
  font-family: "Barlow";
  font-size: 1rem;
  font-weight: 300;
}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #23232329;
}

/* -- Global element styling -- */
option {
  color: black;
}

/* -- Scrollbar styling -- */
::-webkit-scrollbar {
  width: 0.25rem;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb {
  background: rgb(200, 200, 200);
  border-radius: 0.125rem;
}
::-webkit-scrollbar-thumb:hover {
  background: white;
}

/* -- Tooltip styling -- */
.tippy-box {
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 0px;
  bottom: 0.25vh;
  padding: 0.25vh;

  color: white;
  font-family: "Raleway";
  font-weight: 300;
  font-size: 1vh;
}

/* -- CSS Variables -- */
:root {
  /* -- Global styling variables -- */
  --selection-colour: rgba(255, 255, 255, 0.3);

  /* -- Context Menus -- */
  --context-menu-margin-left: calc(0.5rem);
  --context-menu-width: calc(10rem);

  /* -- Left Sidebar -- */
  --left-sidebar-width: calc(min(40rem, 25vw));

  /* -- Map -- */
    /* -- 0. Entity UI: General -- */
    --entity-ui-padding: 12px;
    --entity-ui-width: calc(35rem);

    /* -- 1. Entity UI: Title -- */
    --entity-ui-title-buttons: 3;
    --entity-ui-title-button-margin: 3px;
    --entity-ui-title-button-size: 3rem;

    /* -- 2. Entity UI Graph/Bio -- */
    --entity-ui-graph-height: 6rem;
    --entity-ui-graph-margin-right: 12px;

    /* -- 3. Entity UI: Customisation -- */
    --entity-ui-customisation-tabs: 3;

    /* -- 4. Entity UI: Actions -- */
}
