html, head, body {
  margin: 0px;
  height: 100%;
}
input {
  color: white;
  font-family: "Barlow";
  font-size: 1rem;
  font-weight: 300;
}
option {
  color: black;
}
td {
  display: flex;
  align-items: center;
}

/* -- Global display classes -- */
.display-none, .instant-display-none {
  display: none;
}
.hidden {
  visibility: hidden;
}

/* -- Global styling classes -- */
.icon.small {
  height: 1vh;
  width: 1vh;
}
.icon.medium {
  height: 1.25vh;
  width: 1.25vh;
}
.negative {
  filter: invert(1);
}
.no-select {
  user-select: none;
}
.uppercase {
  text-transform: uppercase;
}

/* -- Scrollbar styling -- */
::-webkit-scrollbar {
  width: 0.25rem;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb {
  background: rgb(200, 200, 200);
  border-radius: 0.125rem;
}
::-webkit-scrollbar-thumb:hover {
  background: white;
}

/* -- Text styling -- */
.small-header {
  display: inline-block;
  font-size: 0.5vw;
  text-transform: uppercase;
}
.subheader {
  color: white;
  font-family: "Karla";
  font-size: 2vh;
  font-weight: 700;
  text-transform: uppercase;

  margin-left: 10px;
}

/* -- Tooltip styling -- */
.tippy-box {
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 0px;
  bottom: 0.25vh;
  padding: 0.25vh;

  color: white;
  font-family: "Raleway";
  font-weight: 300;
  font-size: 1vh;
}

/* -- CSS Variables -- */
:root {
  /* -- Context Menus -- */
  --context-menu-width: calc(10rem);
  --context-menu-x-margin: calc(0.5rem);

  /* -- Entity UI: Timeline/Data Graph -- */
  --canvas-height: 4vw;
  --canvas-x-axis-margin-right: 12px;
  --canvas-y-axis-margin-left: calc(0.2vw);
  --entity-ui-header-buttons: 3;
  --entity-ui-width: calc(20vw + 24px);
  --graph-label-font-size: calc(0.5vw);
  --selection-colour: rgba(255, 255, 255, 0.3);
  --sidebar-width: calc(25vw);
}
