/* - Undo/Redo UI Styling -- */
.undo-redo-container {
  position: absolute;
  top: calc(4.5vh + 3rem + 5px);
  left: 5px;

  height: calc(75.5vh - 32.5px);
  width: 100%;

  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  font-size: 1vh;
  font-family: "Barlow";
  font-weight: 300;

  #undo-redo-container {
    height: calc(100%);
  }
  .undo-redo-canvas-container {
    height: calc(100% - 10vh - 32.5px);
    overflow: hidden;
    width: calc(100% - 1.5rem);
  }
  .undo-redo-ui-container {
    transform-origin: center center;
  }
}
.undo-redo-container .hierarchy {
  color: black;
  height: calc(75.5vh - 32.5px);
  width: calc(100% - 0.5rem);

  .interaction-container {
    max-width: none;
  }
}
