/* -- Context Menu styling -- */
.context-menu-container {
  position: fixed;
  left: calc(var(--sidebar-width) + 16px);

  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  color: black;
  font-family: "Barlow";
  font-size: 1vh;
  font-weight: 300;
  width: var(--context-menu-width);
}
.context-menu-container input, .context-menu-container select {
  max-width: calc(var(--context-menu-width) - 1vw);
}
.context-menu-container .context-menu-button {
  padding-bottom: 0.5vh;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  padding-top: 0.5vh;

  transition: all 0.25s ease;
}
.context-menu-container .context-menu-button .icon {
  margin-bottom: 0.15vh;
  margin-right: 0.3vh;
  vertical-align: middle;

  transition: all 0.25s ease;
}
.context-menu-container .context-menu-text {
  padding-bottom: 0.5vh;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  padding-top: 0.5vh;
}

/* -- Container styling: Hierarchy Subcontext Menu -- */
.context-menu-container.two {
  left: calc(var(--sidebar-width) + var(--context-menu-width) + 16px + 5px);
}

/* -- Container styling: Hierarchy Context Menu Animations -- */
.context-menu-container .context-menu-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  cursor: pointer;
}
.context-menu-container .context-menu-button.delete:hover {
  background-color: rgba(240, 60, 60, 0.7);
  color: white;
}

/* -- COntext Menu Animations -- */
.context-menu-button.confirm:hover {
  background-color: rgba(40, 170, 90, 0.7);
  color: white;
}
