/* -- Sidebar Styling -- */
.sidebar-container {
  position: fixed;
  top: 5px;
  left: 5px;
  height: calc(100vh - 10px);
  width: var(--sidebar-width);

  pointer-events: none;
  z-index: 1;
}
.sidebar-container * {
  pointer-events: all;
}

/* -- Group styling -- */
div.group {
  margin-top: 5px;
  margin-bottom: 5px;
}
.group.mask-add {
  background-color: rgba(60, 240, 60, 0.3);
}
.group.mask-intersect_add {
  background-color: rgba(235, 220, 50, 0.3);
}
.group.mask-intersect_overlay {
  background-color: rgba(60, 60, 240, 0.3);
}
.group.mask-subtract {
  background-color: rgba(240, 60, 60, 0.3);
}

/* -- Hierarchy Styling-- */
.hierarchy-body-container {
  margin-left: 15px;
  margin-top: 15px;
}
.hierarchy-container {
  position: absolute;
  top: calc(4.5vh + 5px);
  left: 5px;

  height: calc(75.5vh - 32.5px);
  width: 100%;

  background-color: rgba(0, 0, 0, 0.85);
}
.hierarchy-elements-container {
  height: calc(65vh - 7.5vh);
  overflow-y: auto;

  color: white;
  font-family: "Barlow";
  font-weight: 300;
}
.hierarchy-elements-container div.group:not(:empty), .hierarchy-elements-container div > .entity {
  padding-inline-start: 1vw;
  padding-inline-end: 0.115vw;
}
.hierarchy-elements-container > div.group {
  padding-inline-start: 0vw !important;
}
.hierarchy-elements-container .group > input {
  font-weight: 700;
}
.hierarchy-selection-info-container {
  max-height: 2.5vh;

  color: white;
  font-family: "Barlow";
  font-size: 1vh;
  font-weight: 300;
}

.hierarchy-header {
  padding-top: 10px;

  font-family: "Karla";
  font-weight: 900;
  font-size: 3vh;

  color: white;
  text-transform: uppercase;
}
.hierarchy-header-line {
  border: 1px solid white;
  background-color: white;

  margin-left: 2px;
  margin-right: 90%;
}

/* -- Hiearchy item styling -- */
#hierarchy .entity.extinct > input {
  color: rgb(150, 150, 150);
  font-style: oblique;
}

.hierarchy-elements-container div > input {
  padding-left: 0.2vw;
  padding-right: 0.2vw;

  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0);
  width: 90%;
}
.hierarchy-elements-container div:not(.hover) > img {
  visibility: hidden;
}
.hierarchy-elements-container div > img {
  float: right;
  right: 2.25vw;
  margin-top: 0.125vh;
  position: relative;

  height: 16px;
  width: 16px;
}
.hierarchy-elements-container div > img:hover {
  cursor: pointer;
}

/* -- Hierarchy layer styling -- */
.hierarchy-elements-container .layer {
  padding-left: 0.25vw;
}
.hierarchy-elements-container .layer.selected {
  border-left: 3px solid rgb(60, 170, 240);
}

/* -- Hierarchy functionality styling -- */
.hierarchy-elements-container div > input {
  pointer-events: none;
}

/* -- Hierarchy selection styling -- */
.hierarchy-elements-container .entity.selected input {
  background-color: var(--selection-colour);
}

/* -- Hierarchy animation styling -- */
.hierarchy-elements-container .group.hover input, .hierarchy-elements-container .layer.hover input {
  background-color: var(--selection-colour);
}
.hierarchy-elements-container .hover:not(.group):not(.layer) > input {
  background-color: var(--selection-colour);
}
.hierarchy-elements-container div:hover {
  cursor: grab;
}
