/* -- Sidebar Styling -- */
.sidebar-container {
  position: fixed;
  top: 5px;
  left: 5px;
  height: calc(100vh - 10px);
  width: var(--sidebar-width);

  pointer-events: none;
  z-index: 1;
}
.sidebar-container * {
  pointer-events: all;
}

/* -- Group styling -- */
.group.mask-add {
  background-color: rgba(60, 240, 60, 0.3);
}
.group.mask-intersect_add {
  background-color: rgba(235, 220, 50, 0.3);
}
.group.mask-intersect_overlay {
  background-color: rgba(60, 60, 240, 0.3);
}
.group.mask-subtract {
  background-color: rgba(240, 60, 60, 0.3);
}

/* -- Hierarchy Styling-- */
.hierarchy-body-container {
  margin-left: 15px;
  margin-top: 15px;
}
.hierarchy-container {
  position: absolute;
  top: calc(4.5vh + 5px);
  left: 5px;

  height: calc(75.5vh - 32.5px);
  width: 100%;

  background-color: rgba(0, 0, 0, 0.85);
}
.hierarchy-elements-container {
  height: calc(65vh - 7.5vh);
  overflow-y: auto;

  color: white;
  font-family: "Barlow";
  font-weight: 300;
}
.hierarchy-elements-container div.group:not(:empty), .hierarchy-elements-container div > .entity {
  padding-inline-start: 1vw;
  padding-inline-end: 0.115vw;
}
.hierarchy-elements-container > div.group {
  padding-inline-start: 0vw !important;
}
.hierarchy-elements-container .group > input {
  font-weight: 700;
}
.hierarchy-selection-info-container {
  max-height: 2.5vh;

  color: white;
  font-family: "Barlow";
  font-size: 1vh;
  font-weight: 300;
}

.hierarchy-header {
  padding-top: 10px;

  font-family: "Karla";
  font-weight: 900;
  font-size: 3vh;

  color: white;
  text-transform: uppercase;
}
.hierarchy-header-line {
  border: 1px solid white;
  background-color: white;

  margin-left: 2px;
  margin-right: 90%;
}

/* -- Hierarchy container styling -- */
#hierarchy {
  max-height: 58vh;
  overflow-y: auto;
}

/* -- Hierarchy item styling -- */
.group, .entity {
  margin: 10px;
  padding: 10px;
  border: 1px solid rgb(150, 150, 150);
  background-color: white;

  font-family: "Barlow";
  font-weight: 300;
  font-size: 1rem;

  cursor: pointer;
}
.group input, .entity input {
  background-color: rgba(0, 0, 0, 0);
  color: black;
  max-width: 95%;
  width: 95%;
}

.entity {
  background-color: #fff9c4;
}
.group {
  background-color: #e1f5fe;
}
