.leaflet-popup-tip-container, .leaflet-popup-content-wrapper, a.leaflet-popup-close-button {
  visibility: hidden;
}
.leaflet-popup-content {
  visibility: visible;
}

/* -- Button styling -- */
.button {
  height: calc(2.25vw);
  width: calc(2.25vw);
  margin-left: 3px;
  margin-right: 3px;

  background-size: 65% 65%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;

  transition: all 1s, background-color 0.5s;
}
.button:hover {
  background-color: rgba(255, 255, 255, 0.3);

  transition: all 1s, background-color 0.5s;
  cursor: pointer;
}
.graph-label {
  font-size: var(--graph-label-font-size);
}
.left-align {
  float: left;
}
.small.button {
  height: 1.4vw;
  width: 1.4vw;
}
.medium.button {
  height: 2vw;
  width: 2vw;
}
.right-align {
  float: right;
}

/* -- Select styling -- */
.entity-select {
  background: none;
  border: none;

  color: white;
  font-family: "Barlow";
  font-size: calc(var(--graph-label-font-size)*1.5);
  font-weight: 300;
  text-transform: uppercase;
}
.entity-select > option {
  background-color: black;
}

/* -- Container styling -- */
.entity-ui-container {
  background-color: rgba(0, 0, 0, 0.85);

  margin-top: 5px;
  max-height: 100vh;
  min-width: 20vw;

  padding-top: 8px;
  padding-left: 12px;
  padding-bottom: 8px;

  color: white;
  font-family: "Barlow";
  font-weight: 300;
  font-size: 20px;
  overflow-y: auto;

  transition: all 0.5s, padding 1s;
}
.entity-ui-container.small {
  padding-top: 8px;
  padding-bottom: 8px;
}
.entity-ui-header-container {
  display: inline-block;
  height: 100%;
  width: 100%;
}
.entity-ui-subcontainer {
  position: relative;
}
.entity-ui-subtitle {
  color: white;

  font-family: "Karla";
  font-size: 1.1vw;
  font-weight: 600;
  text-transform: uppercase;
}
.entity-ui-title, .entity-ui-title > input {
  color: white;

  font-family: "Karla";
  font-weight: 900;
  font-size: 1.75vw;
  font-variant: small-caps;
}

/* -- Container styling: Animations -- */
.entity-ui-container.hidden {
  margin: 0px;
  max-height: 0px;
  overflow-y: auto;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}
.entity-ui-container.hidden::-webkit-scrollbar {
  display: none;
}

/* -- Container styling: Entity UI header -- */

.entity-ui-title {
  height: 100%;
  width: calc(100% - 8px);
}
#entity-ui-header input {
  background: none;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  margin-bottom: 4px;
  max-width: calc(100% - (2.5vw + 6px)*var(--entity-ui-header-buttons));
}
#entity-ui-header-container span, #entity-ui-header input {
  vertical-align: middle;
}
#entity-ui-header-container img {
  float: right;
  position: relative;
  top: 0.175vw;
}

/* -- Container styling: Timeline/Data -- */

.entity-ui-container.timeline {
  padding-bottom: calc(0.5vw + 8px)
}
.entity-ui-graph {
  height: var(--canvas-height);
  margin-left: calc(1vw + var(--canvas-height)/4);
  margin-top: 0.5vw;
  width: calc(100% - var(--canvas-height)/2 - var(--canvas-x-axis-margin-right));
}
.entity-ui-graph-x-axis {
  clear: both;
  margin-left: calc(2vw);
  width: calc(100% - var(--canvas-height)/2 - var(--canvas-x-axis-margin-right));
}
.entity-ui-graph-y-axis {
  position: absolute;
  height: calc(var(--canvas-height) - 0.5vw*2 - 16px);
  left: calc(0.2vw);
  top: calc(var(--graph-label-font-size)*1.5*2.5 + 12px);
  width: 3px;

  border-left: 1px solid white;
}
#entity-ui-timeline-graph-y-top-axis-label {
  position: absolute;
  left: calc(0.2vw);
  top: calc(var(--graph-label-font-size)*1.5 + 16px);
}
#entity-ui-timeline-graph-y-bottom-axis-label {
  position: absolute;
  bottom: 0px;
  left: calc(0.2vw);
}
.timeline-bio-table {
  width: 97.5%;
}
.timeline-bio-table .header-padding {
  height: 0.5vh;
}
.timeline-bio-table td {
  border: 0px;
  display: table-cell;
  font-size: 0.85vh;
}
.timeline-bio-table td span:not(.bio-box) {
  display: inline-block;
  width: calc(100% - (0.85vh + 0.25vh*2)*2 - 12px);
}
.timeline-bio-table tr td, .timeline-bio-table tr th {
  padding-left: 5px;
}

.bio-add-keyframe-icon {
  border-radius: 50%;
  left: 0vh;
  position: relative;
}
.bio-add-keyframe-icon, .bio-context-menu-icon, .bio-jump-to-icon {
  height: 0.85vh;
  width: 0.85vh;

  float: right;
  margin-top: 0.1vh;
  margin-right: 0.25vh;
  vertical-align: middle;

  transition: all 0.25s ease;
}
.bio-box {
  position: relative;
  top: 0.05vh;

  font-size: 1.4vh;
  line-height: 0.85vh;
}
.bio-jump-to-icon {
  margin-right: 0.5vh;
}

/* -- Container styling: Timeline/Data Animations -- */

.bio-add-keyframe-icon:hover, .bio-context-menu-icon:hover, .bio-jump-to-icon:hover {
  cursor: pointer;
}
.bio-add-keyframe-icon:hover {
  background-color: var(--selection-colour);
  padding: 0.5vh;
  left: 0.5vh;
}
.entity-ui-graph:hover {
  cursor: grab;
}
.entity-ui-header-container > img {
  margin-right: 16px;
}
.entity-ui-container.bio {
  max-height: 10vh;
  overflow-y: auto;
}
.entity-ui-container.bio.hidden {
  margin: 0px;
  max-height: 0px;
}
.timeline-bio-table tr:not(.no-select):hover {
  background-color: var(--selection-colour);
}

/* -- Container styling: Bio Context Menu -- */
.bio-context-menu-container {
  position: fixed;
  left: calc(var(--entity-ui-width) + 12px);
  width: var(--context-menu-width);

  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  color: black;
  font-size: 1vh;
}
.bio-context-menu-container .context-menu-button {
  padding-bottom: 0.5vh;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  padding-top: 0.5vh;

  transition: all 0.25s ease;
}
.context-menu-button .icon {
  margin-bottom: 0.15vh;
  margin-right: 0.3vh;
  vertical-align: middle;
}

/* -- Container styling: Bio Context Menu - Date UI -- */

.bio-context-menu-date-container {
  position: fixed;
  left: calc(var(--entity-ui-width) + var(--context-menu-width) + 16px);

  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  color: black;
  font-size: 1vh;
  width: 10vw;
}
.bio-context-menu-date-container .day-input {
  width: 4vh;
}
.bio-context-menu-date-container .hour-input, .bio-context-menu-date-container .minute-input {
  width: 2vh;
}
.bio-context-menu-date-container input, .bio-context-menu-date-container select {
  border-radius: 0px;
  color: black;
  font-family: "Barlow";
  font-size: 1vh;

  text-align: center;
  text-align-last: center;
}
.bio-context-menu-date-container input[type="number"]::-webkit-outer-spin-button, .bio-context-menu-date-container input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.bio-context-menu-date-container select {
  -webkit-appearance: none;

  padding: 0.125vh; /* 1/8ths of font size */
}
.bio-context-menu-date-container .year-input {
  width: 4vh;
}

/* -- Container styling: Bio Context Menu Animations -- */

.bio-context-menu-container .context-menu-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  cursor: pointer;
}
.bio-context-menu-container .context-menu-button.delete:hover {
  background-color: rgba(240, 60, 60, 0.7);
  color: white;
}
.bio-context-menu-container:not(.display-none) {
  animation: fade-in 0.5s forwards;
}
.bio-context-menu-container.display-none {
  display: block;
  animation: fade-out 0.5s forwards;
}
.context-menu-button.delete:hover .icon {
  filter: invert(0);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    display: block;
    opacity: 1;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

/* -- Container styling: Customisation -- */

.customisation-top-parent {
  display: flex;
}
.entity-ui-container.colour-container {
  flex: 1;

  height: 7vw;
  max-width: 7vw;
  min-width: 7vw !important;
  overflow-y: hidden;

  padding: 12px;
}
.entity-ui-container.customisation-top-parent {
  background: none;
  padding: 0px;
  width: var(--entity-ui-width);
}
.entity-ui-container.options-container {
  height: 7vw;
  min-width: calc(13vw - 30px - 12px) !important;
  max-width: calc(13vw - 30px - 12px);

  margin-left: 6px;
  padding: 12px;
}
.hidden.customisation-top-parent {
  opacity: 0;
  margin: 0px;
}

/* -- Container styling: Customisation Colour Wheel -- */
.colour-picker-brightness {
  position: absolute;

  border-radius: 50%;
  background: rgb(0, 0, 0);
  height: 3.25vw;
  width: 3.25vw;

  opacity: 0;
}
.colour-picker-container {
  background: none;
  border-radius: 50%;
  height: 3.25vw;
  width: 3.25vw;

  opacity: 1;
}
.colour-picker-container img {
  opacity: 1;
}
.colour-picker-hue {
  position: absolute;

  border-radius: 50%;
  background: conic-gradient(red, magenta, blue, aqua, lime, yellow, red);
  height: 3.25vw;
  width: 3.25vw;
}
.colour-picker-mask {
  position: relative;
  bottom: 14px;

  border-radius: 50%;
  background: none;
  height: 3.25vw;
  width: 3.25vw;
}
.colour-picker-cursor {
  position: relative;

  border-radius: 50%;
  height: 12px;
  width: 12px;

  border: 1px solid black;
  box-shadow: 0px 0px 1px 1px white;
  left: calc((3.25vw/2) - 6px);
  top: calc((3.25vw/2) - 6px);

  transition: left 0.25s ease, top 0.25s ease, background 0.25s ease;
}

.brightness-range-container {
  display: inline-block;
  position: relative;
  width: 200%;

  bottom: calc(3.5vw);
}
.opacity-range-container {
  position: relative;
  bottom: calc(3.5vw + 12px);
}
.rgb-inputs {
  position: relative;

  bottom: 3.6vw;
  left: 3.75vw;

  height: 3.25vw;

  font-size: 0.65vw;
}
.rgb-inputs > input {
  width: 2vw;

  color: black;
  font-size: 0.65vw;
}
.rgb-inputs > input::-webkit-outer-spin-button, .rgb-inputs > input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.colour-picker-brightness-range {
  position: relative;
  bottom: 6px;
  margin: 0px;
}
.colour-picker-opacity-range {
  position: relative;
  bottom: 6px;
  margin: 0px;
}

/* -- Container styling: Customisation Options -- */
.options-tab-header {
  display: inline-block;
  width: 3.25vw;

  color: white;
  font-family: "Barlow";
  font-size: 0.75vw;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;

  padding-bottom: 0.2vw;
}
.options-tab > hr {
  position: relative;

  border: none;
  border-bottom: 3px solid rgb(140, 200, 240);
  left: 0.125vw;
  width: 3vw;
  margin: 0;

  transition: left 1s ease;
}

/* -- Container styling: Customisation Options Animations -- */
.options-tab-header:hover {
  cursor: pointer;
}

/* -- Container styling: Actions -- */

#entity-ui-actions-container table {
}
#entity-ui-actions-container tr td {
  border: 0px;
  display: table-cell;
}
#entity-ui-actions-container tr td:not(:first-child) {
  padding-left: 1vw;
}
#entity-ui-actions-container tr td span, #entity-ui-actions-container tr td img {
  margin-left: 10px;

  font-size: 22px;
  vertical-align: middle;
}
