/* -- Sidebar File UI Styling -- */
.file-container {
  position: absolute;
  top: calc(4.5vh + 5px);
  left: 5px;

  height: calc(75.5vh - 32.5px);
  width: 100%;

  background-color: rgba(0, 0, 0, 0.85);
}
