/* -- Icon CSS/animation styling for buttons -- */
.checkmark-icon:not(:hover) {
  background-image: url("../gfx/interface/checkmark_icon.png");
}
.checkmark-icon:not(.static):hover {
  background-image: url("../gfx/interface/checkmark_icon.png");
}
.clock-icon {
  background-image: url("../gfx/interface/clock_empty_icon.png");
}
.cross-icon:not(:hover) {
  background-image: url("../gfx/interface/close_icon.png");
}
.cross-icon:not(.static):hover {
  background-image: url("../gfx/interface/close_icon.png");
}
.delete-icon:not(:hover) {
  background-image: url("../gfx/interface/delete_empty_icon.png");
}
.delete-icon:not(.static):hover {
  background-image: url("../gfx/interface/delete_filled_icon.png");
}
.minimise-icon, .reverse-minimise-icon {
  background-image: url("../gfx/interface/chevron_icon.png");
}
.pencil-icon:not(:hover) {
  background-image: url("../gfx/interface/pencil_empty_icon.png");
}
.pencil-icon:not(.static):hover {
  background-image: url("../gfx/interface/pencil_filled_icon.png");
}
.pin-icon {
  background-image: url("../gfx/interface/pin_empty_icon.png");
}
.plus-icon {
  background-image: url("../gfx/interface/plus_icon.png");
}
.reverse-pin-icon {
  background-image: url("../gfx/interface/pin_filled_icon.png");
}
.reverse-minimise-icon {
  transform: rotate(180deg);
}
