/* -- General bottom right container styling -- */
.brush-map-container {
  display: flex;
  flex-direction: column-reverse;

  position: fixed;
  bottom: 10px;
  right: 10px;

  height: 50%;
  width: 20%;
}

.bottom-right {
  display: block;
  margin-top: 0.7vh;
  margin-left: 12px;

  font-size: 1.5vh;
}
.bottom-right.subheader > .small.button.minimise-icon.right-align {
  position: relative;
  bottom: 0.2vh;
  right: 0.25vh;
}
.bottom-right.subheader > .small.button.reverse-minimise-icon.right-align {
  position: relative;
  bottom: 0.1vh;
  right: 0.2vh;
}

/* -- Brush Options container -- */
.brush-container {
  height: 10vh;

  background-color: rgba(0, 0, 0, 0.85);
}
.brush-buttons-container {
  margin-bottom: 5px;
  margin-left: calc(-12px + 5px);
}
.brush-options-container {
  margin: 12px;

  color: white;
  font-family: "Barlow Light";
  font-size: 1vh;
}

.brush-options.subheader {
  margin-left: 0px; /* -- Resets the default 5px margin -- */
}
.brush-information-container {
  margin-left: 0.1vh;
  margin-top: 1%;

  max-height: 4vh;
  min-height: 4vh;
}

/* -- Mapmode container -- */
.mapmode-search-container {
  height: 3vh;
  margin-bottom: 10px;

  background-color: rgba(0, 0, 0, 0.85);
}

/* -- Mapmode search container -- */
.mapmode-search {
  margin-left: calc(10% + 10px);
  margin-top: calc(0.65vh - 5px);
  width: calc(90% - 40px);

  padding: 5px;

  background: none;
  border: 0px solid transparent;
  color: white;
  font-size: 1.4vh;

  transition: all 0.5s ease;
}
.mapmode-search:focus {
  border-bottom: 1px solid white;
  outline: none;
}

/* -- Mapmode settings container -- */
.mapmode-settings-header-container {
  height: 3vh;
  margin-bottom: 10px;

  background-color: rgba(0, 0, 0, 0.85);
}

.mapmode-settings-container {
  height: 10vh;
  margin-bottom: 10px;

  background-color: rgba(0, 0, 0, 0.85);
  transition: all 1s ease;
}
.mapmode-settings-container.hidden {
  height: 0vh;
  margin-bottom: 0px;
}

/* -- Select mapmode container -- */
.select-mapmode-header-container {
  height: 3vh;
  margin-bottom: 10px;

  background-color: rgba(0, 0, 0, 0.85);
}

.select-mapmode-container {
  height: 10vh;
  margin-bottom: 10px;

  background-color: rgba(0, 0, 0, 0.85);
  transition: all 1s ease;
}
.select-mapmode-container.hidden {
  height: 0vh;
  margin-bottom: 0px;
}
