/* -- 0. Entity UI General Styling -- */
/* -- 1. Entity UI Title -- */
.leaflet-popup #entity-header {
  padding-bottom: 0px;

  .button {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 65% 65%;
    height: calc(var(--entity-ui-title-button-size));
    margin-left: calc(var(--entity-ui-title-button-margin));
    margin-right: calc(var(--entity-ui-title-button-margin));
    transition: all 1s, background-color 0.5s;
    width: calc(var(--entity-ui-title-button-size));
  }
  .button:hover {
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    transition: all 1s, background-color 0.5s;
  }
  #polity-id {
    line-height: 1rem;
    margin-bottom: 0.5rem;
  }
  #polity-name {
    position: relative;

    background: none;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    bottom: 1.4rem;
    color: white;
    font-family: "Karla";
    font-weight: 900;
    font-size: 2rem;
    font-variant: small-caps;
    vertical-align: middle;
    width: calc(100% - (3rem + var(--entity-ui-title-button-margin)*4)*var(--entity-ui-title-buttons) - var(--entity-ui-title-button-margin)*2);
  }
}

/* -- 2. Entity UI Graph/Bio -- */
.entity-ui-graph {
  height: var(--canvas-height);
  margin-left: calc(1vw + var(--canvas-height)/4);
  margin-top: 0.5vw;
  width: calc(100% - var(--canvas-height)/2 - var(--canvas-x-axis-margin-right));
}
.graph-label {
  font-size: 0.75rem;
}
/* -- 3. Entity UI Customisation -- */
/* -- 4. Entity UI Actions -- */
/* -- A. Entity UI Animations -- */

/* -- Select styling -- */
.entity-select {
  background: none;
  border: none;

  color: white;
  font-family: "Barlow";
  font-size: calc(1rem*1.5);
  font-weight: 300;
  text-transform: uppercase;
}
.entity-select > option {
  background-color: black;
}

/* -- Container styling -- */
.entity-ui-container {
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  margin-top: 5px;
  max-height: 100vh;
  font-family: "Barlow";
  font-weight: 300;
  font-size: 1rem;
  overflow-y: auto;
  padding-top: 8px;
  padding-left: 12px;
  padding-bottom: 8px;
  width: var(--entity-ui-width);

  transition: all 0.5s, padding 1s;
}

/* -- Container styling: Animations -- */
.entity-ui-container.hidden {
  margin: 0px;
  max-height: 0px;
  overflow-y: auto;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}
.entity-ui-container.hidden::-webkit-scrollbar {
  display: none;
}

/* -- Container styling: Entity UI header -- */
#entity-header .button {
  border-radius: 35%;
}
#entity-header .button:hover {
  border-radius: 50%;
}

/* -- Container styling: Timeline/Data -- */
.entity-ui-container.timeline {
  padding-bottom: calc(0.5vw + 8px)
}
.entity-ui-graph-x-axis {
  clear: both;
  margin-left: calc(2vw);
  width: calc(100% - var(--canvas-height)/2 - var(--canvas-x-axis-margin-right));
}
.entity-ui-graph-y-axis {
  position: absolute;
  height: calc(var(--canvas-height) - 0.5vw*2 - 16px);
  left: calc(0.2vw);
  top: calc(3rem + 12px);
  width: 3px;

  border-left: 1px solid white;
}
#entity-ui-timeline-graph-y-top-axis-label {
  position: absolute;
  left: calc(0.2vw);
  top: calc(1rem*1.5 + 16px);
}
#entity-ui-timeline-graph-y-bottom-axis-label {
  position: absolute;
  bottom: 0px;
  left: calc(0.2vw);
}
.timeline-bio-table {
  width: 97.5%;
}
.timeline-bio-table .header-padding {
  height: 0.5vh;
}
.timeline-bio-table td {
  border: 0px;
  display: table-cell;
  font-size: 0.85vh;
}
.timeline-bio-table td span:not(.bio-box) {
  display: inline-block;
  width: calc(100% - (0.85vh + 0.25vh*2)*2 - 12px);
}
.timeline-bio-table .top-bio-header th:nth-child(2) {
  font-weight: 300;
  font-size: 0.9vh;
}
.timeline-bio-table .top-bio-header th:nth-child(2) input[type="checkbox"] {
  position: relative;
  top: 0.1vh;
}
.timeline-bio-table tr td, .timeline-bio-table tr th {
  padding-left: 5px;
}
.timeline-bio-table tr td input[type="checkbox"] {
  position: relative;
  top: 0.1vh;
  margin-right: 0.3vh;
}

.bio-add-keyframe-icon {
  border-radius: 50%;
  left: 0vh;
  position: relative;
}
.bio-add-keyframe-icon, .bio-context-menu-icon, .bio-jump-to-icon {
  height: 0.85vh;
  width: 0.85vh;

  float: right;
  margin-top: 0.1vh;
  margin-right: 0.25vh;
  vertical-align: middle;

  transition: all 0.25s ease;
}
.bio-box {
  position: relative;
  top: 0.05vh;

  font-size: 1.4vh;
  line-height: 0.85vh;
}
.bio-jump-to-icon {
  margin-right: 0.5vh;
}

/* -- Container styling: Timeline/Data Animations -- */
.bio-add-keyframe-icon:hover, .bio-context-menu-icon:hover, .bio-jump-to-icon:hover {
  cursor: pointer;
}
.bio-add-keyframe-icon:hover {
  background-color: var(--selection-colour);
  padding: 0.5vh;
  left: 0.5vh;
}
.entity-ui-graph:hover {
  cursor: grab;
}
.entity-ui-header-container > img {
  margin-right: 16px;
}
.entity-ui-container.bio {
  max-height: 10vh;
  overflow-y: auto;
}
.entity-ui-container.bio.hidden {
  margin: 0px;
  max-height: 0px;
}
.timeline-bio-table tr:not(.no-select):hover {
  background-color: var(--selection-colour);
}

/* -- Container styling: Bio Context Menu -- */
.bio-context-menu-container {
  position: fixed;
  left: calc(var(--entity-ui-width) + 12px);
  width: var(--context-menu-width);

  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  color: black;
  font-size: 1vh;
}
.bio-context-menu-container .context-menu-button {
  padding-bottom: 0.5vh;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  padding-top: 0.5vh;

  transition: all 0.25s ease;
}
.context-menu-button .icon {
  margin-bottom: 0.15vh;
  margin-right: 0.3vh;
  vertical-align: middle;
}

/* -- Container styling: Bio Context Menu - Date UI -- */

.bio-context-menu-date-container {
  position: fixed;
  left: calc(var(--entity-ui-width) + var(--context-menu-width) + 16px);

  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  color: black;
  font-size: 1vh;
  width: 10vw;
}
.bio-context-menu-date-container .day-input {
  width: 4vh;
}
.bio-context-menu-date-container .hour-input, .bio-context-menu-date-container .minute-input {
  width: 2vh;
}
.bio-context-menu-date-container input, .bio-context-menu-date-container select {
  border-radius: 0px;
  color: black;
  font-family: "Barlow";
  font-size: 1vh;

  text-align: center;
  text-align-last: center;
}
.bio-context-menu-date-container input[type="number"]::-webkit-outer-spin-button, .bio-context-menu-date-container input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.bio-context-menu-date-container select {
  -webkit-appearance: none;

  padding: 0.125vh; /* 1/8ths of font size */
}
.bio-context-menu-date-container .year-input {
  width: 4vh;
}

/* -- Container styling: Bio Context Menu Animations -- */

.bio-context-menu-container .context-menu-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  cursor: pointer;
}
.bio-context-menu-container .context-menu-button.delete:hover {
  background-color: rgba(240, 60, 60, 0.7);
  color: white;
}
.bio-context-menu-container:not(.display-none) {
  animation: fade-in 0.5s forwards;
}
.bio-context-menu-container.display-none {
  display: block;
  animation: fade-out 0.5s forwards;
}
.context-menu-button.delete:hover .icon {
  filter: invert(0);
}

/* -- Container styling: Customisation -- */
.leaflet-popup {
  #customisation-top-parent {
    display: flex;
    height: 14rem;

    #entity-ui-customisation-colour {
      flex: 1;

      background-color: rgba(0, 0, 0, 0.85);
      max-width: calc(var(--entity-ui-width)*0.40);
      overflow-x: hidden;
      overflow-y: hidden;
      padding: 12px;
      padding-left: 4px;
      padding-top: 4px;

      :is(.brightness-range-container, .opacity-range-container) .small-header {
        font-size: 0.85rem;
        line-height: 1rem;
        margin-bottom: 0.1rem;
        margin-left: 0.5rem;
        margin-right: 0rem;
        vertical-align: middle;
      }
      #colour-picker {
        margin-right: calc(var(--entity-ui-width)*0.10);
      }
    }
    #entity-ui-customisation-other {
      flex: 1;

      background-color: rgba(0, 0, 0, 0.85);
      margin-left: 6px;
      padding: 12px;
      width: calc(var(--entity-ui-width) - var(--context-menu-width));
    }
  }
}

.customisation-top-parent {
  display: flex;
  width: calc(var(--entity-ui-width) + var(--entity-ui-padding));
}
.entity-ui-container.colour-container {
  flex: 1;
  height: 7vw;
  max-width: 7vw;
  min-width: 7vw !important;
  overflow-y: hidden;

  padding: 12px;
}
.entity-ui-container.customisation-top-parent {
  background: none;
  padding: 0px;

  overflow: visible;
}
.entity-ui-container.options-container {
  flex: 1;
  height: 7vw;
  min-width: calc(13vw - 30px - 12px) !important;

  margin-left: 6px;
  padding: 12px;
}
.hidden.customisation-top-parent {
  opacity: 0;
  margin: 0px;
}
.options-body {
  margin-top: 0.5vw;

  font-size: 0.9vh;
}
.options-body .short-number-input {
  width: 2.5vh;

  color: black;
}

/* -- Container styling: Customisation Options -- */
#customisation-tab-container {
  display: inline-block;
  width: 100%;

  color: white;
  font-family: "Barlow";
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;

  padding-bottom: 0.2rem;

  .tabs-container > span {
    width: calc((var(--entity-ui-width)/var(--entity-ui-customisation-tabs))*0.45);
  }
}
#entity-ui-customisation-other {
  font-family: "Barlow";
  font-size: 1rem;
  font-weight: 300;
}

/* -- Container styling: Actions -- */
.entity-context-menu.actions-menu {
  margin-top: 6px;
  width: var(--entity-ui-width);

  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 0px;
}
.entity-context-menu.actions-menu td {
  background-color: rgba(0, 0, 0, 0) !important;
  color: white;
}
.entity-context-menu.actions-menu td span {
  width: -webkit-fill-available;
}

.entity-context-menu.actions-menu td .button:hover {
  border-radius: 0px;
}
