#entity-header {
  padding-bottom: 0px;
}
#entity-header input#polity-name {
  position: relative;
  bottom: 1.4rem;

  background: none;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  max-width: calc(100% - (2.5vw + 6px)*var(--entity-ui-header-buttons));

  color: white;
  font-family: "Karla";
  font-weight: 900;
  font-size: 2rem;
  font-variant: small-caps;

  vertical-align: middle;
}
