/* -- 0. Entity UI General Styling -- */
.entity-ui-container {
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  margin-top: 5px;
  font-family: "Barlow";
  font-weight: 300;
  font-size: 1rem;
  overflow-y: auto;
  padding-top: 8px;
  padding-left: 12px;
  padding-bottom: 8px;
  width: var(--entity-ui-width);

  transition: all 0.5s, padding 1s;
}
.entity-ui-container.hidden {
  margin: 0px;
  max-height: 0px;
  overflow-y: auto;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}
.entity-ui-container.hidden::-webkit-scrollbar {
  display: none;
}

/* -- 1. Entity UI Title -- */
.leaflet-popup #entity-header {
  padding-bottom: 0px;

  .button {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 65% 65%;
    border-radius: 35%;
    height: calc(var(--entity-ui-title-button-size));
    margin-left: calc(var(--entity-ui-title-button-margin));
    margin-right: calc(var(--entity-ui-title-button-margin));
    transition: all 1s, background-color 0.5s;
    width: calc(var(--entity-ui-title-button-size));
  }
  .button:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    cursor: pointer;
    transition: all 1s, background-color 0.5s;
  }
  #polity-id {
    line-height: 1rem;
    margin-bottom: 0.5rem;
  }
  #polity-name {
    position: relative;

    background: none;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    bottom: 1.4rem;
    color: white;
    font-family: "Karla";
    font-weight: 900;
    font-size: 2rem;
    font-variant: small-caps;
    vertical-align: middle;
    width: calc(100% - (3rem + var(--entity-ui-title-button-margin)*4)*var(--entity-ui-title-buttons) - var(--entity-ui-title-button-margin)*2);
  }
}

/* -- 2. Entity UI Graph/Bio -- */
.entity-select {
  background: none;
  border: none;

  color: white;
  font-family: "Barlow";
  font-size: calc(1.25rem);
  font-weight: 300;
  text-transform: uppercase;
}
.entity-select > option {
  background-color: black;
}
#entity-ui-timeline-graph-container {
  padding-bottom: calc(0.5vw + 8px);

  .entity-ui-graph {
    height: var(--entity-ui-graph-height);
    margin-left: calc(1vw + var(--entity-ui-graph-height)/4);
    margin-top: 0.5vw;
    width: calc(100% - var(--entity-ui-graph-height)/2 - var(--entity-ui-graph-margin-right));
  }
  .entity-ui-graph:hover {
    cursor: grab;
  }
  .entity-ui-graph-x-axis {
    clear: both;
    margin-left: calc(2vw);
    width: calc(100% - var(--entity-ui-graph-height)/2 - var(--entity-ui-graph-margin-right));
  }
  .entity-ui-graph-y-axis {
    position: absolute;
    height: calc(var(--entity-ui-graph-height) - 0.5vw*2 - 16px);
    left: calc(0.2vw);
    top: calc(3rem + 12px);
    width: 3px;

    border-left: 1px solid white;
  }
  #entity-ui-timeline-graph-y-top-axis-label {
    position: absolute;
    left: calc(0.2rem);
    top: calc(1.5rem + 16px);
  }
  #entity-ui-timeline-graph-y-bottom-axis-label {
    position: absolute;
    bottom: 0px;
    left: calc(0.2rem);
  }
  .graph-label {
    font-size: 0.75rem;
  }
}
#entity-ui-timeline-bio-subcontainer {
  max-height: 10rem;
  overflow-y: auto;

  .timeline-bio-table {
    width: 97.5%;

    .bio-add-keyframe-icon {
      border-radius: 50%;
      left: 0px;
      position: relative;
    }
    .bio-add-keyframe-icon:hover {
      background-color: var(--selection-colour);
      padding: 0.5rem;
      left: 0.5rem;
    }
    .bio-add-keyframe-icon:hover, .bio-context-menu-icon:hover, .bio-jump-to-icon:hover {
      cursor: pointer;
    }
    .bio-add-keyframe-icon, .bio-context-menu-icon, .bio-jump-to-icon {
      height: 0.75rem;
      width: 0.75rem;

      float: right;
      margin-top: 0.1rem;
      margin-right: 0.25rem;
      vertical-align: middle;

      transition: all 0.25s ease;
    }
    .bio-box {
      position: relative;
      top: 0.05rem;

      font-size: 1.4rem;
      line-height: 0.85rem;
    }
    .bio-jump-to-icon {
      margin-right: 0.5rem;
    }
    .header-padding {
      height: 0.5rem;
    }
    .top-bio-header th:nth-child(2) {
      font-weight: 300;
      font-size: 0.9rem;
    }
    .top-bio-header th:nth-child(2) input[type="checkbox"] {
      position: relative;
      top: 0.1rem;
    }
  }
  .timeline-bio-table td {
    border: 0px;
    display: table-cell;
    font-size: 0.75rem;
  }
  .timeline-bio-table td span:not(.bio-box) {
    display: inline-block;
    width: calc(100% - 2.7rem - 12px);
  }
  .timeline-bio-table tr:not(.no-select):hover {
    background-color: var(--selection-colour);
  }
  .timeline-bio-table tr td, .timeline-bio-table tr th {
    padding-left: 5px;
  }
  .timeline-bio-table tr td input[type="checkbox"] {
    position: relative;
    top: 0.1rem;
    margin-right: 0.3rem;
  }
}
#entity-ui-timeline-bio-subcontainer.hidden {
  margin: 0px;
  max-height: 0px;
}

  /* -- 2.1. -- Entity UI Graph/Bio - Context Menus -- */
  .bio-context-menu-container {
    position: fixed;
    left: calc(var(--entity-ui-width) + 12px);
    width: var(--context-menu-width);

    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    color: black;
    font-size: 1rem;
  }
  .bio-context-menu-container .context-menu-button {
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;

    transition: all 0.25s ease;
  }
  .context-menu-button .icon {
    margin-bottom: 0.15rem;
    margin-right: 0.3rem;
    vertical-align: middle;
  }

/* -- 3. Entity UI Customisation -- */
#customisation-top-parent {
  display: flex;
  height: 14rem;
  width: calc(var(--entity-ui-width) + var(--entity-ui-padding));

  #entity-ui-customisation-colour {
    flex: 1;

    background-color: rgba(0, 0, 0, 0.85);
    max-width: calc(var(--entity-ui-width)*0.40);
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 12px;
    padding-left: 4px;
    padding-top: 4px;

    :is(.brightness-range-container, .opacity-range-container) .small-header {
      font-size: 0.85rem;
      line-height: 1rem;
      margin-bottom: 0.1rem;
      margin-left: 0.5rem;
      margin-right: 0rem;
      vertical-align: middle;
    }
    #colour-picker {
      margin-right: calc(var(--entity-ui-width)*0.10);
    }
  }
  #entity-ui-customisation-other {
    flex: 1;

    background-color: rgba(0, 0, 0, 0.85);
    font-family: "Barlow";
    font-size: 0.85rem;
    font-weight: 300;
    margin-left: 6px;
    padding: 12px;
    width: calc(var(--entity-ui-width) - var(--context-menu-width));

    #customisation-tab-container {
      display: inline-block;
      width: 100%;

      color: white;
      font-family: "Barlow";
      font-size: 1rem;
      font-weight: 300;
      text-transform: uppercase;

      padding-bottom: 0.2rem;

      .tabs-container > span {
        width: calc((var(--entity-ui-width)/var(--entity-ui-customisation-tabs))*0.45);
      }
    }
  }
}
/* -- Hides default context menu background -- */
.customisation-top-parent.hidden {
  opacity: 0;
  margin: 0px;
}
.entity-ui-container.customisation-top-parent {
  background: none;
  padding: 0px;

  overflow: visible;
}

/* -- 4. Entity UI Actions -- */
.entity-context-menu.actions-menu {
  margin-top: 6px;
  width: var(--entity-ui-width);

  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 0px;
}
.entity-context-menu.actions-menu td {
  background-color: rgba(0, 0, 0, 0) !important;
  color: white;
}
.entity-context-menu.actions-menu td span {
  width: -webkit-fill-available;
}

.entity-context-menu.actions-menu td .button:hover {
  border-radius: 0px;
}

/* -- A. Entity UI Animations -- */
