/* -- Brush context menu styling -- */
/* -- Pointer events -- */
.brush-map-container {
  pointer-events: none;
}
.brush-map-container > div {
  pointer-events: all;
}

/* -- Brush Actions -- */
.brush-action-button {
  height: 2rem;
  width: 2rem;
}
.brush-action-button:hover {
  cursor: pointer;
}

/* -- Brush Actions Context Menu -- */
#brush-actions-context-menu .context-menu {
  position: fixed;
  bottom: 0.5rem;
  right: calc(20% + 12px + 10px);

  color: black;
}

/* -- Brush UI container -- */
.brush-context-menu-container {
  position: fixed;
  bottom: 10px;
  right: calc(20% + 12px + 10px);
  width: calc(var(--context-menu-width)*1.5);

  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  color: black;
  font-family: "Barlow";
  font-size: 1vh;
  font-weight: 300;

  padding-bottom: 0.5vh;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  padding-top: 0.5vh;
}
