/* -- Sidebar File UI Styling -- */
.file-container {
  position: absolute;
  top: calc(4.5vh + 5px);
  left: 5px;

  height: calc(75.5vh - 32.5px);
  width: 100%;

  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  font-size: 1vh;
  font-family: "Barlow";
  font-weight: 300;
}
.file-container .hierarchy {
  color: black;
  height: calc(75.5vh - 32.5px);
  overflow-y: auto;
  width: calc(100% - 0.5rem);
}

/* -- Input styling -- */
.file-container input[type="text"] {
  background: none;
  border: 1px solid white;
}
